* {
    margin: 0;
    padding: 0;
    font-family: Arial,Helvetica,sans-serif;
    box-sizing: border-box;
} 


/* Navbar */

.fixoNoTopo {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}


.navbar-container {
    width: 100%;
    background-color: #fff;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 1px 7px #ccc;
}

.navigation ul {
    display: flex;
    align-items: center;
    gap: 50px;
}

.navigation ul li {
    list-style: none;
}

.navigation ul li a {
    color: #000;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
}

.navigation ul li a:hover {
    color: rgb(66, 66, 207);
}

.btnLogin {
    background-color: #fff;
    text-decoration: none;
    border: 1px solid #166aea;
    color: #166aea;
    padding: 12px 30px;
    border-radius: 100px;
    margin-right: 60px;
}

.navbar-items .btnLogin:hover{
    background-color: #166aea;
    color: #fff;
}



/* Menu mobile */

nav .menu-icon {
    cursor: pointer;
    font-size: 25px;
    color: rgb(17, 15, 15);
    display: none;
}

nav .close-icon {
    display: none;
    font-size: 30px;
    color: white;
}


.logo {
    width: 60px;
    margin-top: 5px;
    margin-left: 100PX;
}

.l {
    align-self: center;
    border-right: 1px solid #b9b9bd;
    height: 20px;
}

.icone {
    margin-left: 3px;
    font-size: 12px;
}




/* main banner */

.main-banner {
    background: rgb(102, 7, 70);
    color: #fff;
    padding: 9rem;
}

.main-banner .container {
    display: flex;
    align-items: center;
}

.main-banner .mb-text {
    width: 70%;
    padding: 0 40px;
    margin-top: 2rem;
}

.main-banner .mb-text span {
    font-size: 25px;
    margin-bottom: 55px;
}

.main-banner .mb-text h1 {
    font-size: 64px;
    margin-bottom: 7px;
}

.main-banner .mb-text p {
    font-size: 16px;
    margin-top: 25px;
}

.main-banner .mb-img {
    width: 30%;
}

.main-banner .btnComecar {
    background-color: #fff;
    border: 1px solid #9f14d2;
    color: #8a0eb7;
    padding: 12px 30px;
    border-radius: 100px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 60px;
}

.main-banner .btnComecar:hover {
    background-color: #edd1ed;
    color: #000;
    font-weight: bold;
}


/* Services */

.services-container {
    padding: 5rem 0;
    background-color: #fffdfd;
}

.services-container h2 {
    color: #262626;
    font-family: "Roboto", Sans-serif;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 25px;
}

.all-services {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.services {
    box-shadow: 2px 4px 8px 2px rgba(142, 137, 145, 0.2);
    transition: 0.3s;
    color: #21201e;
    text-align: center;
    width: 350px;
    height: 300px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1.2rem;
    margin: 2rem;
}

.fas {
    font-size: 40px;
    margin-bottom: 15px;
}

.fa-shield-alt {
    color: #2cc76a;
}

.fa-rocket {
    color: #ef3f29;
}

.fa-comments {
    color: #ef8f29;
}

.services-container h3 {
    margin-bottom: 25px;
}

.services-container p {
    line-height: 24px;
}


/* prices and plans */

.pricing-container {
    padding-bottom: 5rem;
}

.pricing-container h2 {
    font-size: 35px;
    text-align: center;
}


.plans-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 50px auto 0;
}

.plan {
    flex: 1;
    max-width: 275px;
    margin: 0 20px;
    border: 1px solid rgb(210, 190, 228);
    text-align: center;
}

.plan p {
    margin-bottom: 5px;
    background-color: #fffdfd;
    color: #4f4e4e;
}


.plan .price {
    margin-top: 30px;
    font-size: 28px;
    color: #080808;
    font-weight: bold;
}

.plan .price span {
    font-size: 16px;
    font-weight: 100;
}

.plan .plan-name {
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #000;
    padding: 20px 0;
}

.plan .plan-btn {
    background-color: #166aea;
    color: #fff;
    font-size: 18px;
    margin: 20px;
    padding: 12px 28px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}


.plan .populary {
    background-color: #c164ca;
}

/* search domain */
.searchdomain-container {
    border-top: 1px solid #d6d5d5;
    background-color: rgb(246, 246, 249);;
    text-align: center;
    padding: 5rem 0;
}

.searchdomain-container h2 {
    color: rgb(31, 32, 68);
    font-size: 42px;
    margin-bottom: 15px;
}

.searchdomain-container p {
    color: rgb(31, 32, 68);
    font-size: 24px;
    margin-bottom: 25px;
}

.searchdomain-container input {
    display: block;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
}

.searchdomain-container input[type="text"] {
    width: 60%;
    padding: 20px;
    font-size: 20px;
    margin-bottom: 25px;
    background-color: #d4d2d2;
    box-shadow: 1px 1px 7px #444242;
    color: #000;
}

.searchdomain-container input[type="submit"] {
    background-color: #4B0082;
    padding: 12px 30px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    opacity: 0.8;
}

.searchdomain-container input[type="submit"]:hover {
    opacity: 1;
}

/* contact form */

.contact-container {
    text-align: center;
    padding: 5rem 0 2rem 0;
}

.contact-container h2 {
    font-size: 35px;
    margin-bottom: 15px;
}

.contact-container p {
    font-size: 20px;
    margin-bottom: 40px;
    color: #4f4e4e;
}

.contact-container input,
.contact-container textarea {
    width: 200px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 0 10px 20px;
}

.contact-container textarea {
    display: block;
    margin: 0 auto 20px;
    width: 470px;
    height: 150px;
}

.contact-container input[type="submit"] {
    display: block;
    margin: 0 auto;
    background-color: #166aea;
    color: #fff;
    cursor: pointer;
}

/* footer */

footer {
    text-align: center;
    font-weight: bold;
    margin: 50px 0 100px;
    border-top: 1px solid #ecebeb;
    color: #4f4e4e;
}

footer .info {
    margin-top: 50px;
}

/* -----------------------------------------    RESPONSIVIDADE  ---------------------------------------- */


/* Small laptops a partir de 1100px */

@media (max-width: 1100px) {

    .plans-container {
        width: 95%;
    }

    .plan {
        margin: 0 5px;
    }
}

/* tablet 900px */
@media (max-width: 900px) {
    .navigation ul {
        gap: 30px;
    }
    
    .navigation ul li a {
        font-size: 15px;
    }
    
    .btnLogin {
        padding: 10px 20px;
        font-size: 15px;

    }
    
    .logo {
        width: 50px;
        margin-left: 25px;
    }
    
    /* main banner */
    
    .main-banner {
        padding: 6rem;
    }
    
    .main-banner .mb-text {
        width: 85%;
    }
    
    .main-banner .mb-text span {
        font-size: 20px;
    }
    
    .main-banner .mb-text h1 {
        font-size: 55px;
    }
    
    .main-banner .mb-text p {
        font-size: 15px;
    }
     
    /* Services */
    .services-container h2 {
        font-size: 30px;
    }
    
   
    /* prices and plans */
    
    .pricing-container h2 {
        font-size: 30px;
    }

    .plan .plan-btn {
        padding: 10px 20px;
    }
    
    
    .plan .price {
        font-size: 24px;
    }
    
    /* search domain */

    .searchdomain-container h2 {
        font-size: 35px;
    }
    
    .searchdomain-container p {
        font-size: 20px;
    }
    
    
    .searchdomain-container input[type="text"] {
        width: 75%;
        font-size: 18px;
    }
    
    .searchdomain-container input[type="submit"] {
        font-size: 18px;
    }
       
    /* contact form */
    
   .contact-container h2 {
        font-size: 30px;
    }
    
    .contact-container p {
        font-size: 18px;
    }
    
    .contact-container input,
    .contact-container textarea {
        width: 250px;
    }
    
    .contact-container textarea {
        width: 470px;
    }
    
}

@media (max-width: 650px) {
    nav .menu-icon {
        margin-right: 30px;
    }

    .ul {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        clip-path: circle(0% at 100% 0);
        transition: 0.7s;
        background: #e9d5f0;
    }

    .ul.open{
        clip-path: circle(141.2% at 100% 0);
    }
    
    .ul a {
        margin: 10px 0;
        font-size: 16px;
    }

    nav .menu-icon {
        display: block;
    }

    nav .close-icon {
        display: block;
        position: absolute;
        top: 46px;
        right: 28px;
        color: #3a3939;
    }

    .l {
        display: none;
    }
}

/* celular 576px*/
@media (max-width: 576px) {
    html, 
    body {
        overflow-x: hidden;
    }

    /* To do nav Bar*/

    .logo {
        margin-left: 20px;
    }


    /* main banner */

    .main-banner {
        background: rgb(102, 7, 70);
        padding: 4rem 0;
    }

    .main-banner .mb-text {
        width: 90%;
        padding: 0 40px;
    }

    .main-banner .mb-text span {
        font-size: 20px;
    }

    .main-banner .mb-text h1 {
        font-size: 40px;
        margin-top: 20px;
    }

    .main-banner .mb-text p {
        font-size: 16px;
    }

    .main-banner .mb-img {
        width: 10%;
    }

   
    .services-container h2 {
        text-align: center;
        font-size: 30px;
        margin: 0 20px;
    }

    /* prices and plans */
    .pricing-container h2 {
        font-size: 30px;
    }

    .plans-container {
        flex-direction: column;
        width: 90%;
    }

    .plan {
        align-items: center;
        width: 90%;
        max-width: 90%;
        margin-bottom: 10px;
    }

    /* search domain */
    .searchdomain-container {
        border-top: 1px solid #d6d5d5;
        background-color: rgb(246, 246, 249);;
        text-align: center;
        padding: 5rem 0;
    }

    .searchdomain-container h2 {
        font-size: 30px;
    }

    .searchdomain-container p {
        font-size: 18px;
    }

    .searchdomain-container input[type="text"] {
        width: 80%;
        padding: 15px;
        font-size: 16px;
    }

    .searchdomain-container input[type="submit"] {
        padding: 10px 20px;
        font-size: 16px;
    }


    /* contact form */

    .contact-container {
        padding: 3rem 2rem;
    }

    .contact-container h2 {
        font-size: 30px;
    }

    .contact-container input,
    .contact-container textarea {
        width: 100%;
        margin: 10px 0; 
    }

}





